<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Cards List</title>
    <link th:href="@{https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css}" rel="stylesheet" />
    <link href="css/styles.css" rel="stylesheet" th:href="@{/css/styles.css}"/>
    <link rel="icon" type="image/x-icon" href="assets/img/favicon.png" />
    <script data-search-pseudo-elements defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.28.0/feather.min.js" crossorigin="anonymous"></script>
</head>
<body class="nav-fixed">
<div th:replace="/fragments/navbar-top.html :: navbar-top"></div>
<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <div th:replace="/fragments/navbar-side.html :: navbar-side"></div>
    </div>
    <div id="layoutSidenav_content">
        <main>
            <header class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
                <div class="container-fluid px-4">
                    <div class="page-header-content">
                        <div class="row align-items-center justify-content-between pt-3">
                            <div class="col-auto mb-3">
                                <h1 class="page-header-title">
                                    <!--                                    <div class="page-header-icon"><i data-feather="user"></i></div>-->
                                    Cards List
                                </h1>
                            </div>
                            <!--<div class="col-12 col-xl-auto mb-3">
                                <a class="btn btn-sm btn-light text-primary" href="user-management-groups-list.html">
                                    <i class="me-1" data-feather="users"></i>
                                    Manage Groups
                                </a>
                                <a class="btn btn-sm btn-light text-primary" href="user-management-add-user.html">
                                    <i class="me-1" data-feather="user-plus"></i>
                                    Add New User
                                </a>
                            </div>-->
                        </div>
                    </div>
                </div>
            </header>
            <!-- Main page content-->
            <div class="container-fluid px-4">
                <div class="card">
                    <div class="card-body">
                        <table id="datatablesSimple">
                            <thead>
                            <tr>
                                <th>Card Number</th>
                                <th>Expiration Date</th>
                                <th>Card Holder</th>
                                <th>Checked Number</th>
                                <th>User ID</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th>Card Number</th>
                                <th>Expiration Date</th>
                                <th>Card Holder</th>
                                <th>Checked Number</th>
                                <th>User ID</th>
                            </tr>
                            </tfoot>
                            <tbody>
                            <tr th:each="card : ${cards}">

                                <td th:text="${card.cardNumber}">Card Number</td>
                                <td th:text="${card.date}">Expiration Date</td>
                                <td th:text="${card.cardHolder}">Card Holder</td>
                                <td th:text="${card.checkedNumber}">Checked Number</td>
                                <td th:text="${card.user.id}">User ID</td>

                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>
        <div th:replace="/fragments/footer.html :: footer"></div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="js/scripts.js"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
<script src="/js/datatables/datatables-simple-demo.js"></script>
</body>
</html>
