<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Overview - VIRTUAL WALLET</title>
        <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
        <link rel="icon" type="image/x-icon" href="/assets/img/favicon.png" />
        <script data-search-pseudo-elements defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.28.0/feather.min.js" crossorigin="anonymous"></script>
    </head>
    <body class="nav-fixed">
    <div th:replace="/fragments/navbar-top.html :: navbar-top"></div>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <div th:replace="/fragments/navbar-side.html :: navbar-side"></div>
            </div>
            <div id="layoutSidenav_content">
                <main>
                    <header class="py-10 mb-4 bg-gradient-primary-to-secondary">
                        <div class="container-xl px-4">
                            <div class="text-center">
                                <h1 class="text-white">Welcome to Virtual Wallet</h1>
                                <p class="lead mb-0 text-white-50">Transfer money quick, safe, and free</p>
                                <p class="lead mb-0 text-white-50">Manage your budget. Send and receive money in your wallet</p>
                            </div>
                        </div>
                    </header>
                    <!-- Main page content-->

                    <div th:unless="${isAuthenticated}" class="container-xl px-4 mt-n10">
                        <div class="row">
                            <div class="col-xl-4 mb-4">
                                <!-- Dashboard example card 1-->
                                <a class="card lift h-100" href="#" th:href="@{/auth/register}">
                                    <div class="card-body d-flex justify-content-center flex-column">
                                        <div class="d-flex align-items-center justify-content-between">
                                            <div class="me-3">
<!--                                                <i class="feather-xl text-primary mb-3" data-feather="package"></i>-->
                                                <h5>Create your Virtual Wallet Account</h5>
                                                <div class="text-muted small">Explore the world of online banking. Modify your profile.</div>
                                            </div>
                                            <img src="assets/img/illustrations/info/1.jpg" alt="..." style="width: 8rem" />
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-xl-4 mb-4">
                                <!-- Dashboard example card 2-->
                                <a class="card lift h-100" href="#" th:href="@{/auth/register}">
                                    <div class="card-body d-flex justify-content-center flex-column">
                                        <div class="d-flex align-items-center justify-content-between">
                                            <div class="me-3">
<!--                                                <i class="feather-xl text-secondary mb-3" data-feather="book"></i>-->
                                                <h5>Add your own Credit or Debit Card</h5>
                                                <div class="text-muted small">Add or remove multiple cards.</div>
                                            </div>
                                            <img src="assets/img/illustrations/info/4.jpg" alt="..." style="width: 8rem" />
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-xl-4 mb-4">
                                <!-- Dashboard example card 3-->
                                <a class="card lift h-100" href="#" th:href="@{/auth/register}">
                                    <div class="card-body d-flex justify-content-center flex-column">
                                        <div class="d-flex align-items-center justify-content-between">
                                            <div class="me-3">
<!--                                                <i class="feather-xl text-green mb-3" data-feather="layout"></i>-->
                                                <h5>Create your personal Virtual Wallets</h5>
                                                <div class="text-muted small">Manage multiple wallets.</div>
                                            </div>
                                            <img src="assets/img/illustrations/info/2.jpg" alt="..." style="width: 8rem" />
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xl-4 mb-4">
                                <!-- Dashboard example card 1-->
                                <a class="card lift h-100" href="#" th:href="@{/auth/register}">
                                    <div class="card-body d-flex justify-content-center flex-column">
                                        <div class="d-flex align-items-center justify-content-between">
                                            <div class="me-3">
<!--                                                <i class="feather-xl text-primary mb-3" data-feather="package"></i>-->
                                                <h5>Transfer money</h5>
                                                <div class="text-muted small">From your credit card to your wallet.</div>
                                            </div>
                                            <img src="assets/img/illustrations/info/71.jpg" alt="..." style="width: 8rem" />
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-xl-4 mb-4">
                                <!-- Dashboard example card 2-->
                                <a class="card lift h-100" href="#" th:href="@{/auth/register}">
                                    <div class="card-body d-flex justify-content-center flex-column">
                                        <div class="d-flex align-items-center justify-content-between">
                                            <div class="me-3">
<!--                                                <i class="feather-xl text-secondary mb-3" data-feather="book"></i>-->
                                                <h5>Make Transactions</h5>
                                                <div class="text-muted small">Between your wallets and other users' wallets.</div>
                                            </div>
                                            <img src="assets/img/illustrations/info/8.jpg" alt="..." style="width: 8rem" />
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-xl-4 mb-4">
                                <!-- Dashboard example card 3-->
                                <a class="card lift h-100" href="#" th:href="@{/auth/register}">
                                    <div class="card-body d-flex justify-content-center flex-column">
                                        <div class="d-flex align-items-center justify-content-between">
                                            <div class="me-3">
<!--                                                <i class="feather-xl text-green mb-3" data-feather="layout"></i>-->
                                                <h5>History of Transactions</h5>
                                                <div class="text-muted small">Keep track of your financial activities</div>
                                            </div>
                                            <img src="assets/img/illustrations/info/6.jpg" alt="..." style="width: 8rem" />
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </main>
                <div th:replace="/fragments/footer.html :: footer"></div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="js/scripts.js"></script>
    </body>
</html>
