<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>New Transaction</title>
    <link href="css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
    <link rel="icon" type="image/x-icon" href="/assets/img/favicon.png"/>
    <script data-search-pseudo-elements defer
            src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.28.0/feather.min.js"
            crossorigin="anonymous"></script>
</head>
<body class="nav-fixed">
<div th:replace="/fragments/navbar-top.html :: navbar-top"></div>
<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <div th:replace="/fragments/navbar-side.html :: navbar-side"></div>
    </div>
    <div id="layoutSidenav_content">
        <main>
            <header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10">
                <div class="container-xl px-4">
                    <div class="page-header-content pt-4">
                        <div class="row align-items-center justify-content-between">
                            <div class="col-auto mt-4">
                                <h1 class="page-header-title">
                                    <div class="page-header-icon"><i data-feather="arrow-right-circle"></i></div>
                                    New Transaction
                                </h1>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- Main page content-->

            <div class="container-xl px-4 mt-n10">
                <!-- Wizard card example with navigation-->
                <div class="card">
                    <div class="card-body">
                        <form action="#" th:action="@{/transactions/new}" th:object="${transaction}" method="post" id="form">

                            <div class="tab-content" id="cardTabContent">
                                <!-- Wizard tab pane item 2-->
                                <div class="tab-pane py-5 py-xl-10 fade show active" id="wizard2" role="tabpanel"
                                     aria-labelledby="wizard2-tab">
                                    <div class="row justify-content-center">
                                        <div class="col-xxl-6 col-xl-8">
                                            <!--                                            <h3 class="text-primary">Step 1</h3>-->
                                            <h5 class="card-title mb-4">Enter your transaction details</h5>
                                            <form>
                                                <div class="mb-3">
                                                    <label for="sender">Select Sender Wallet</label>
                                                    <select th:field="*{senderId}" class="form-control" id="sender">
                                                        <option th:each="sender : ${myWallets}"
                                                                th:value="${sender.id}"
                                                                th:text="${sender.user.username} + ', ' + ${sender.balance}">
                                                            Sender Wallet
                                                        </option>
                                                    </select>
                                                    <label class="error" th:errors="*{senderId}">error
                                                        placeholder</label>
                                                </div>

                                                <div class="col-mb-3">
                                                    <label for="receiver">Select Receiver Wallet</label>
                                                    <select th:field="*{receiverId}" class="form-control" id="receiver">
                                                        <option th:each="receiver : ${wallets}"
                                                                th:value="${receiver.id}"
                                                                th:text="${receiver.user.username}">
                                                            Receiver Wallet
                                                        </option>
                                                    </select>
<!--                                                    </datalist>-->
                                                    <label class="error" th:errors="*{receiverId}">error
                                                        placeholder</label>
                                                </div>

                                                <div class="col-mb-3">
                                                    <label for="amount">Amount</label>
                                                    <input th:field="*{amount}" class="form-control" id="amount"
                                                           type="text"/>
                                                    <label class="error" th:errors="*{amount}">error placeholder</label>
                                                </div>

                                                <hr class="my-4"/>
                                                <div class="d-flex justify-content-between">
                                                    <!-- Button trigger modal -->
                                                    <button class="btn btn-primary" type="button" data-bs-toggle="modal"
                                                            data-bs-target="#exampleModal">Submit
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Confirm Transaction</h5>
                                            <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">Are you sure you want to confirm this transaction?</div>
                                        <div class="modal-footer">
                                            <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Cancel</button>
                                            <button class="btn btn-primary" type="submit" onclick="handleSubmit()">Confirm Transaction</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>

        </main>
        <div th:replace="/fragments/footer.html :: footer"></div>
    </div>
</div>

<script>
    function handleSubmit () {
        document.getElementById('form').submit();
    }
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
<script src="js/scripts.js"></script>
</body>
</html>


