<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Users List</title>
    <link th:href="@{https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css}" rel="stylesheet"/>
    <link href="css/styles.css" rel="stylesheet" th:href="@{/css/styles.css}"/>
    <link rel="icon" type="image/x-icon" href="assets/img/favicon.png"/>
    <script data-search-pseudo-elements defer
            src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.28.0/feather.min.js"
            crossorigin="anonymous"></script>
</head>
<body class="nav-fixed">
<div th:replace="/fragments/navbar-top.html :: navbar-top"></div>
<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <div th:replace="/fragments/navbar-side.html :: navbar-side"></div>
    </div>
    <div id="layoutSidenav_content">
        <main>

            <!-- Main page content-->
            <div class="container-fluid px-4">
                <div class="card">
                    <div class="card-body">
                        <table id="datatablesSimple">
                            <thead>
                            <tr>
                                <th>Username</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Role</th>
                                <th>Status</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th>Username</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Role</th>
                                <th>Status</th>
                            </tr>
                            </tfoot>
                            <tbody>
                            <tr th:each="user : ${users}">
                                <td>
                                    <div class="d-flex align-items-center">
                                        <div class="avatar me-2"><img class="avatar-img img-fluid"
                                                                      th:src="@{/assets/img/illustrations/profiles/{photo}(photo=${user.photo})}"/>
                                        </div>
                                        <div th:text="${user.username}"></div>
                                    </div>
                                </td>
                                <td th:text="${user.email}"></td>
                                <td th:text="${user.phoneNumber}"></td>
                                <td th:text="${user.role.name}"></td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <div th:text="${user.status.name}"></div>
                                        <form th:action="@{/users/update-status/{id}(id=${user.id})}"
                                              th:object="${user}" method="post" action="#" id="#">
                                            <button type="submit"
                                                    class="btn btn-datatable btn-icon btn-transparent-dark me-2"
                                                    data-bs-toggle="modal" data-bs-target="#editGroupModal"><i
                                                    data-feather="edit"></i></button>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>
        <div th:replace="/fragments/footer.html :: footer"></div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
<script src="js/scripts.js"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
<script src="js/datatables/datatables-simple-demo.js"></script>
</body>
</html>
