<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Edit User - Virtual Wallet</title>
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
    <link rel="icon" type="image/x-icon" href="/assets/img/favicon.png"/>
    <script data-search-pseudo-elements defer
            src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.28.0/feather.min.js"
            crossorigin="anonymous"></script>
</head>
<body class="nav-fixed">
<div th:replace="/fragments/navbar-top.html :: navbar-top"></div>
<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <!--        <div th:replace="/fragments/navbar-side.html :: navbar-side"></div>-->
    </div>
    <div id="layoutSidenav_content">
        <main>
            <header class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
                <div class="container-xl px-4">
                    <div class="page-header-content">
                        <div class="row align-items-center justify-content-between pt-3">
                            <div class="col-auto mb-3">
                                <h1 class="page-header-title">
                                    <div class="page-header-icon"><i data-feather="user"></i></div>
                                    User Profile
                                </h1>
                            </div>

                        </div>
                    </div>
                </div>
            </header>
            <!-- Main page content-->
            <div class="container-xl px-4 mt-4">
                <div class="row">
                    <div class="col-xl-4">
                        <!-- Profile picture card-->
                        <div class="card mb-4 mb-xl-0">
                            <div class="card-header">Profile Picture</div>
                            <div class="card-body text-center">
                                <!-- Profile picture image-->
                                <img class="img-account-profile rounded-circle mb-2"
                                     th:src="@{/assets/img/illustrations/profiles/{photo}(photo=${currentUser.getPhoto()})}" alt=""/>
                                <!-- Profile picture help block-->
                                <div class="small font-italic text-muted mb-4">JPG or PNG no larger than 5 MB</div>
                                <!-- Profile picture upload button-->

                                    <form th:action="@{/users/update-photo/{id}(id=${currentUser.id})}"
                                          th:object="${file}" method="post" action="#" id="#"
                                          enctype="multipart/form-data">
                                        <div class="form-group files">
                                            <label>Change Profile Picture </label>
                                            <input type="file" th:field="*{file}" class="form-control" multiple="">
                                        </div>
                                        <button class="btn btn-lg btn-primary btn-block" style="margin-top: 15px"
                                                type="submit">Upload photo
                                        </button>

                                    </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-8">
                        <!-- Account details card-->
                        <div class="card mb-4">
                            <div class="card-header">Profile Details</div>
                            <div class="card-body">
                                <form action="#" th:action="@{__${#httpServletRequest.requestURI}__}"
                                      th:object="${userToUpdate}" method="post">
                                    <!-- Form Row-->
                                    <div class="mb-3">
                                        <label class="small mb-1" for="username">Username</label>
                                        <input class="form-control" th:field="*{username}" id="username" type="text"
                                               aria-describedby="emailHelp" placeholder="Username" readonly/>
                                    </div>

                                    <div class="mb-3">
                                        <label class="small mb-1" for="email">Email</label>
                                        <input class="form-control" th:field="*{email}" id="email" type="email"
                                               aria-describedby="emailHelp" placeholder="Enter email address"/>
                                    </div>

                                    <div class="mb-3">
                                        <label class="small mb-1" for="phoneNumber">Phone Number</label>
                                        <input class="form-control" th:field="*{phoneNumber}" id="phoneNumber"
                                               type="text" placeholder="Enter phone number"/>
                                    </div>

                                    <div class="mb-3">
                                        <label class="small mb-1" for="inputPassword">Password</label>
                                        <input class="form-control" required="" th:field="*{password}"
                                               id="inputPassword" type="password" placeholder="Enter password"/>
                                    </div>

                                    <div class="mb-3">
                                        <label class="small mb-1" for="photo">Photo</label>
                                        <input class="form-control" th:field="*{photo}" id="photo" type="text"
                                               placeholder="photo" readonly/>
                                    </div>

                                    <!--                                    <input th:field="*{username}" type="hidden"/>-->
                                    <input th:field="*{statusId}" type="hidden"/>
                                    <input th:field="*{roleId}" type="hidden"/>
                                    <!--                                    <input th:field="*{photo}" type="hidden"/>-->


                                    <!-- Submit button-->
                                    <input type="submit" value="Save" class="btn btn-primary btn-block">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <div th:replace="/fragments/footer.html :: footer"></div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
<script src="js/scripts.js"></script>
</body>
</html>
