<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:fragment="navbar-top"
     class="topnav navbar navbar-expand shadow justify-content-between justify-content-sm-start navbar-light bg-white"
     id="sidenavAccordion">
    <!-- Sidenav Toggle Button-->
    <button class="btn btn-icon btn-transparent-dark order-1 order-lg-0 me-2 ms-lg-2 me-lg-0" id="sidebarToggle"><i
            data-feather="menu"></i></button>
    <!-- Navbar Brand-->
    <!-- * * Tip * * You can use text or an image for your navbar brand.-->
    <!-- * * * * * * When using an image, we recommend the SVG format.-->
    <!-- * * * * * * Dimensions: Maximum height: 32px, maximum width: 240px-->
    <a class="navbar-brand pe-3 ps-4 ps-lg-2" href="/">Virtual Wallet</a>
    <!-- Navbar Search Input-->

    <!-- Navbar Items-->
    <ul class="navbar-nav align-items-center ms-auto">
        <!-- Documentation Dropdown-->
        <li class="nav-item dropdown no-caret d-none d-md-block me-3">

            <a th:if="${isAuthenticated}" class="dropdown-item" th:text="${currentUser.getUsername()}" href="#">Username
                <div class="dropdown-item-icon"><i data-feather="settings"></i></div>
                Account
            </a>
        <li>
            <a th:unless="${isAuthenticated}" class="dropdown-item" th:href="@{/auth/register}" href="#">
                Register
            </a>
        </li>
        <li>
            <a th:unless="${isAuthenticated}" class="dropdown-item" th:href="@{/auth/login}" href="#">
                Login
            </a>
        </li>
        <!-- Navbar Search Dropdown-->
        <!-- * * Note: * * Visible only below the lg breakpoint-->
        <li class="nav-item dropdown no-caret me-3 d-lg-none">
            <a class="btn btn-icon btn-transparent-dark dropdown-toggle" id="searchDropdown" href="#" role="button"
               data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i data-feather="search"></i></a>
            <!-- Dropdown - Search-->
            <div class="dropdown-menu dropdown-menu-end p-3 shadow animated--fade-in-up"
                 aria-labelledby="searchDropdown">
                <form class="form-inline me-auto w-100">
                    <div class="input-group input-group-joined input-group-solid">
                        <input class="form-control pe-0" type="text" placeholder="Search for..." aria-label="Search"
                               aria-describedby="basic-addon2"/>
                        <div class="input-group-text"><i data-feather="search"></i></div>
                    </div>
                </form>
            </div>
        </li>
        <!-- Alerts Dropdown-->
        <!-- Messages Dropdown-->
        <!-- User Dropdown-->
        <li class="nav-item dropdown no-caret dropdown-user me-3 me-lg-4">
            <a class="btn btn-icon btn-transparent-dark dropdown-toggle" id="navbarDropdownUserImage" href="javascript:void(0);" role="button"
               data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img th:unless="${isAuthenticated}" class="img-fluid" src="/assets/img/illustrations/profiles/profile-0-default.png"/>
                <img th:if="${isAuthenticated}" th:src="@{/assets/img/illustrations/profiles/{photo}(photo=${currentUser.photo})}" class="img-fluid"/>
            </a>
            <div class="dropdown-menu dropdown-menu-end border-0 shadow animated--fade-in-up"
                 aria-labelledby="navbarDropdownUserImage">
                <h6 class="dropdown-header d-flex align-items-center">
                    <img th:unless="${isAuthenticated}" class="dropdown-user-img" src="/assets/img/illustrations/profiles/profile-0-default.png"/>
                    <img th:if="${isAuthenticated}" th:src="@{/assets/img/illustrations/profiles/{photo}(photo=${currentUser.photo})}" class="dropdown-user-img"/>
                    <div class="dropdown-user-details">
                        <div th:unless="${isAuthenticated}" class="dropdown-user-details-name">Not Logged In</div>
                        <div th:if="${isAuthenticated}" th:text="${currentUser.username}"
                             class="dropdown-user-details-name"></div>
                        <div th:if="${isAuthenticated}" th:text="${currentUser.email}"
                             class="dropdown-user-details-email">vluna@aol.com
                        </div>
                    </div>
                </h6>
                <div class="dropdown-divider"></div>
                <a th:if="${isAuthenticated}" class="dropdown-item" th:href="@{/users/{id}/update(id=${currentUser.id})}" href="#">
                    <div class="dropdown-item-icon"><i data-feather="settings"></i></div>
                    Account
                </a>

                <a th:if="${isAuthenticated}" class="dropdown-item" th:href="@{/auth/logout}" href="#">
                    <div class="dropdown-item-icon"><i data-feather="log-out"></i></div>
                    Logout
                </a>

                <a th:unless="${isAuthenticated}" class="dropdown-item" th:href="@{/auth/login}" href="#">
                    <div class="dropdown-item-icon"><i data-feather="log-in"></i></div>
                    Login
                </a>
            </div>
        </li>
    </ul>
</nav>
</body>
</html>
