<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:fragment="navbar-side" class="sidenav shadow-right sidenav-light">
    <div class="sidenav-menu">
        <div class="nav accordion" id="accordionSidenav" >

            <div th:if="${isAuthenticated}" class="sidenav-menu-heading">Menu</div>

            <div th:unless="${isAuthenticated}" class="sidenav-menu-heading">Login and get access to:</div>

            <a th:unless="${isAuthenticated}" class="nav-link">
                <div class="nav-link-icon"><i data-feather="credit-card"></i></div>
                Cards
            </a>

            <a th:unless="${isAuthenticated}" class="nav-link">
                <div class="nav-link-icon"><i data-feather="pocket"></i></div>
                Wallets
            </a>

            <a th:unless="${isAuthenticated}" class="nav-link">
                <div class="nav-link-icon"><i data-feather="dollar-sign"></i></div>
                Transfers
            </a>

            <a th:unless="${isAuthenticated}" class="nav-link">
                <div class="nav-link-icon"><i data-feather="send"></i></div>
                Transactions
            </a>

            <a th:if="${isAuthenticated}" class="nav-link" th:href="@{/cards/my}" href="#">
                <div class="nav-link-icon"><i data-feather="credit-card"></i></div>
                Cards
            </a>

            <a th:if="${isAuthenticated}" class="nav-link" th:href="@{/wallets/my}" href="#">
                <div class="nav-link-icon"><i data-feather="pocket"></i></div>
                Wallets
            </a>

            <a th:if="${isAuthenticated}" class="nav-link" th:href="@{/transfers/my}" href="#">
                <div class="nav-link-icon"><i data-feather="dollar-sign"></i></div>
                Transfers
            </a>

            <a th:if="${isAuthenticated}" class="nav-link" th:href="@{/transactions/my}" href="#">
                <div class="nav-link-icon"><i data-feather="send"></i></div>
                Transactions
            </a>

            <div th:if="${isAuthenticated} and ${currentUser.isAdmin()}" class="sidenav-menu-heading">Management</div>

            <a th:if="${isAuthenticated} and ${currentUser.isAdmin()}" class="nav-link" th:href="@{/users}" href="#">
                <div class="nav-link-icon"><i data-feather="users"></i></div>
                All Users
            </a>

            <a th:if="${isAuthenticated} and ${currentUser.isAdmin()}" class="nav-link" th:href="@{/transactions}" href="#">
                <div class="nav-link-icon"><i data-feather="file-text"></i></div>
                All Transactions
            </a>

        </div>

    </div>
    <!-- Sidenav Footer-->
    <div class="sidenav-footer">
        <div th:if="${isAuthenticated}" class="sidenav-footer-content">
            <div class="sidenav-footer-subtitle">Logged in as:</div>
            <div class="sidenav-footer-title" th:text="${currentUser.role.name}">Username Role</div>
        </div>
        <div th:unless="${isAuthenticated}" class="sidenav-footer-content">
            <div class="sidenav-footer-subtitle">Logged in as:</div>
            <div class="sidenav-footer-title" >Anonymous</div>
        </div>
    </div>
</nav>
</body>
</html>