<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Entity Not Found</title>
    <link href="../static/styles.css" th:href="@{/styles.css}" rel="stylesheet"/>
</head>
<body>
<h2 th:text="#{error.not-found}">Entity Not Found</h2>
<h3 class="error" th:text="${error}">Entity with IdX not found</h3>
</body>
</html>